Package: com.liven.basicdockhider
Name: BasicDockHider
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Hide the dock background or change its opacity!
Maintainer: LIVEN
Author: LIVEN
Section: Tweaks
